@model Courses
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form asp-controller="Home" asp-antiforgery="true">
        <h>
            <label asp-for="Genre"></label>
            <select asp-for="Genre" asp-items="ViewBag.LisGenres">
                <option value="">All</option>
            </select>
        </h>
        <h>
            <label asp-for="Subject"></label>
            <select asp-for="Subject" asp-items="ViewBag.LisSubjects">
                <option value="">All</option>
            </select>
        </h>
        <h>
            <label asp-for="Grade"></label>
            <select asp-for="Grade" asp-items="ViewBag.ListGrades">
                <option value="">All</option>
            </select>
        </h>
        <p>
            @using (Html.BeginForm())
            {
            <p>
                Find by name course: @Html.TextBox("SearchString")
                <input type="submit" value="Search" />
            </p>
            }

        </form>
    <div id="jstree">
    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#jstree').on('changed.jstree').jstree({
                "core": {
                    "themes": {
                        "variant": "large"
                    },
                    "data": @Html.Raw(ViewBag.Json)
                    },
                "plugins": ["sort","wholerow"],
            });
        });
    </script>
</body>
</html>


